beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
fastapi==0.65.2
html5lib==1.1
idna==2.10
pydantic==1.7.3
requests==2.25.1
six==1.15.0
soupsieve==2.1
starlette==0.13.6
urljoin==1.0.0
urllib3==1.26.3
webencodings==0.5.1
